@use '../abstracts/mixins';
@use '../abstracts/variables';

.header {
  clip-path: polygon(50% 0%, 100% 0, 100% 90%, 0 100%, 0 100%, 0% 60%, 0 0);
  height: 100vh;
  position: relative;
  width: 100%;

  &-video {
    // adding mixins
    @include mixins.position(absolute, 0, 0, null, null, 100%, 100%);
    overflow: hidden;
  }

  &-contents {
    @include mixins.position(absolute, 0, 0, null, null, 100%, 100%);
    background-color: rgba(0, 0, 0, 0.4);
  }

  &-contents-text {
    @include mixins.align(flex, center, center, 100vh);
  }

  &-contents-text-child-h1 {
    color: variables.$white;
    font-size: 4.2rem;
    line-height: 2.8rem;
    text-transform: uppercase;
  }

  &-contents-text-child-p {
    color: variables.$white;
    font-size: 1.5rem;
    margin: 0.8rem 0;
  }
}
