* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* over-riding default font size to 10px instead of default - 16px for easy calculation */
  font-size: 10px;
}

body {
  background: #fdfefe;
  font-family: 'Lato', sans-serif;
}

p {
  // 16px since 1 rem === 10px now coz of html root element, 2 rem === 20px
  font-size: 1.6rem;
}
